body {
    backgroun-color: #FFF0; /* warna kuning cerah */
    font-family: Arial, sans-serif; 
    color: #191970; /* 
{

  .kartu-profil { 
  width: 300px;
    margin: 50 px auto ;
    padding: 20px;
    backgroun-color: white;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0,1)
    text-align: center;
}

.kartu-profil img{
  width: 150px;
  border-radius: 50%;
{
